<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <!-- Constants for robot behavior -->
  <!-- when applicable, right is positive and left is negative.
        these are defined w.r.t the right leg -->

  <!-- JOINTS -->

  <!-- hip joint -->
  <xacro:property name="hip_joint_damping" value="0.05"/>     <!-- Nm/(rad/s) -->
  <xacro:property name="hip_joint_friction" value="0.2"/>     <!-- Nm -->
  <xacro:property name="hip_joint_max_velocity" value="10"/>  <!-- rad/s -->
  <xacro:property name="hip_joint_max_effort" value="30"/>    <!-- Nm -->
  <xacro:property name="hip_joint_positive_joint_limit" value="1"/>   <!-- rad -->
  <xacro:property name="hip_joint_negative_joint_limit" value="-1"/>  <!-- rad -->

    <!-- carriage joint -->
  <xacro:property name="carriage_joint_damping" value="0.05"/>     <!-- Nm/(rad/s) -->
  <xacro:property name="carriage_joint_friction" value="0.2"/>     <!-- Nm -->
  <xacro:property name="carriage_joint_max_velocity" value="10"/>  <!-- rad/s -->
  <xacro:property name="carriage_joint_max_effort" value="30"/>    <!-- Nm -->
  <!-- carriage joint is continuous, so no position joint limits -->

  <!-- leg joint -->
  <xacro:property name="leg_joint_damping" value="0.05"/>     <!-- N/(m/s) -->
  <xacro:property name="leg_joint_friction" value="0.2"/>     <!-- N -->
  <xacro:property name="leg_joint_max_velocity" value="10"/>  <!-- m/s -->
  <xacro:property name="leg_joint_max_effort" value="30"/>    <!-- N -->
  <xacro:property name="leg_joint_positive_joint_limit" value="0.2"/>   <!-- m -->
  <xacro:property name="leg_joint_negative_joint_limit" value="-0.15"/>  <!-- m -->

  <!-- BODIES -->

  <!-- body -->
  <xacro:property name="body_static_friction_coeff" value="0.6"/>     <!-- unitless -->
  <xacro:property name="body_kinetic_friction_coeff" value="0.4"/>    <!-- unitless -->

  <!-- hip -->
  <xacro:property name="hip_static_friction_coeff" value="0.6"/>      <!-- unitless -->
  <xacro:property name="hip_kinetic_friction_coeff" value="0.4"/>     <!-- unitless -->

  <!-- carriage -->
  <xacro:property name="carriage_static_friction_coeff" value="0.6"/>     <!-- unitless -->
  <xacro:property name="carriage_kinetic_friction_coeff" value="0.4"/>    <!-- unitless -->

  <!-- leg -->
  <xacro:property name="leg_static_friction_coeff" value="0.6"/>      <!-- unitless -->
  <xacro:property name="leg_kinetic_friction_coeff" value="0.4"/>     <!-- unitless -->

  <!-- REDUCTIONS -->
  <xacro:property name="hip_reduction" value="1"/>        <!-- unitless -->
  <xacro:property name="carriage_reduction" value="1"/>   <!-- unitless -->
  <xacro:property name="leg_reduction" value="1"/>        <!-- unitless -->
</robot>
